version: '3.8'

services:
  # Database
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # Backend (FastAPI)
  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - DB_NAME=structural_notes
    depends_on:
      - mongo

  # Frontend (React)
  frontend:
    build: ./frontend
    # We override the command to keep the container running for development
    command: npm start
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true # Fixes hot reload in Docker
    depends_on:
      - backend

volumes:
  mongo_data:
