services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/code
    # Pass environment variables to the container
    env_file:
      - ./backend/.env
    # OR define them directly here if you prefer (but .env is safer)
    # environment:
    #   - MONGO_URL=mongodb+srv://...
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host